[Desktop Entry]
Name=BlogManagement
Name[ast]=BlogManagement
Name[bg]=BlogManagement
Name[bs]=BlogManagement
Name[ca]=BlogManagement
Name[ca@valencia]=BlogManagement
Name[cs]=BlogManagement
Name[da]=BlogManagement
Name[de]=BlogManagement
Name[el]=BlogManagement
Name[en_GB]=BlogManagement
Name[eo]=BlogManagement
Name[es]=BlogManagement
Name[et]=BlogManagement
Name[fi]=BlogManagement
Name[fr]=BlogManagement
Name[ga]=BlogManagement
Name[gl]=BlogManagement
Name[hu]=BlogManagement
Name[it]=BlogManagement
Name[ja]=BlogManagement
Name[kk]=BlogManagement
Name[km]=BlogManagement
Name[ko]=BlogManagement
Name[lt]=BlogManagement
Name[lv]=BlogManagement
Name[nb]=BlogManagement
Name[nds]=BlogManagement
Name[nl]=BlogManagement
Name[nn]=BlogManagement
Name[pa]=BlogManagement
Name[pl]=BlogManagement
Name[pt]=BlogManagement
Name[pt_BR]=BlogManagement
Name[ro]=BlogManagement
Name[ru]=BlogManagement
Name[sk]=BlogManagement
Name[sl]=BlogManagement
Name[sq]=BlogManagement
Name[sr]=BlogManagement
Name[sr@ijekavian]=BlogManagement
Name[sr@ijekavianlatin]=BlogManagement
Name[sr@latin]=BlogManagement
Name[sv]=BlogManagement
Name[tr]=BlogManagement
Name[ug]=BlogManagement
Name[uk]=BlogManagement
Name[x-test]=xxBlogManagementxx
Name[zh_CN]=BlogManagement
Name[zh_TW]=BlogManagement
Exec=blogmanagement %i -caption %c
Icon=blogmanagement
Type=Application
X-DocPath=blogmanagement/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[bs]=KDE4 aplikacija
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE 4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lt]=KDE4 programa
GenericName[lv]=KDE4 lietotne
GenericName[mr]=केडीई4 अनुप्रयोग
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sk]=KDE4 aplikáca
GenericName[sl]=Program za KDE 4
GenericName[sq]=Një Program KDE 4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[ug]=ك د ئې(KDE) 4 پروگراممىسى
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
